/*==================
 fonts
=================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.ph-list{
    list-style: none;
}
.ph-cardbody{
    border-radius: 20px;
    position: relative;
    bottom: 35px;
    background-color: #f37fc7c0;
}
.ph-button{
    background-color: #f8d3ea81 !important;
}
footer{
    height: 280px;
    background-color: #0B0D17;
}
.toast-border{
    border-left: 10px solid rgb(0, 119, 255) !important;
}
a{
    text-decoration: none;
}